@font-face {
  font-family: "SF Pro Display";
  src: ("fonts/SF-Pro-Display-Black");
  font-weight: 400;
  letter-spacing: -0.022em;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
a,
span,
p,
h1,
h2,
h3,
li,p1,p2 {
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

video {
  position: relative;
}

/* NavBar */
nav {
  height: 52px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: sticky;
  overflow: hidden;
  background: transparent;
  display: block;
  z-index: 10;
}

.nav-background {
  background-color: rgba(29, 29, 31, 0.9);
  display: block;
  line-height: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.link-container {
  max-width: 980px;
  height: auto;
  min-height: 100%;
  line-height: 25px;
  margin: 0 auto;
  padding: 0 22px;
  position: relative;
  float: none;
}

.nav-right {
  float: right;
  text-align: center;
  padding-top: 14px;
}

.nav-left {
  float: left;
  text-align: center;
  padding-top: 14px;
}

.nav-left a {
  color: white;
  font-size: 21px;
  text-decoration: none;
  line-height: 24px;
  text-align: center;
  display: inline-block;
}

.nav-container {
  text-align: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  display: inline-block;
  line-height: 12px;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  float: left;
}

.nav-ul span {
  color: white;
  opacity: 0.6;
  margin-left: 24px;
}

.nav-ul a:hover {
  color: #bccc0c;
}

.nav-ul li {
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.nav-ul li a {
  margin-left: 24px;
  display: inline-block;
}
.download-btn {
  margin-left: 24px;
  padding: 0;
  display: inline-block;
}

.download-btn a {
  background-color: #00a352;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 4px 11px;
  text-decoration: none;
  border-radius: 12px;
  line-height: 16px;
  margin-top: -1px;
}

.download-btn a:hover {
  background-color: #00b058;
}

.battery {
  line-height: 25px;
  height: 25px;
  text-align: center;
  padding-right: 24px;
  display: inline-block;
}
.battery img {
  height: 100%;
  display: inline-block;
}
.fancy {
  text-align: center;

  padding: 1em;

  border: 0.5em solid black;

  width: 6em;
  height: 6em;

  border-radius: 100%;

  font-family: cursive;
}

/* Content */
.content {
  width: 100%;
  height: 100%;
  text-align:center;
  justify-content;:center;
}

.footer {
  top: 1205px;
  position: relative;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  z-index: 4;
  color: #a8a8a8;
}

.section {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  display: block;
}

.text-container {
  position: absolute;
  width: 100%;
<<<<<<< HEAD
  height: 100%;
  min-height: 99%;
=======
  height: 96%;
  min-height: 96%;
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
  text-align: center;
  display: block;
  align-items: center;
  top: 4%;
  z-index: 4;
}
.s1-top-text {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  z-index: 4;
  color: #a8a8a8;
}

.s1-center-text {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  text-decoration: none;
  z-index: 4;
  color: #fff;
}

.s1-bottom-text {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  z-index: 4;
  color: #a8a8a8;
}
.s2-text-block {
  position: relative;
  display: block;
  text-align: center;
  top: -250px;
}
.s2-text-block-l {
  position: relative;
  display: block;
  text-align: center;
  width: 50%;
  float: left;
  top: -300px;
}

.s2-text-block-r {
  position: relative;
  display: block;
  text-align: center;
  width: 50%;
  float: right;
  top: -300px;
}
.s2-text {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  z-index: 4;
  color: #fff;
}

.video-container {
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  padding-top: 5%;
}

/* Home Page - Text */
.grey-bar-1 {
  position: absolute;
  top: 925px;
  left: 400px;
}

.grey-bar-2 {
  position: absolute;
  top: 925px;
  left: 800px;
}

.home-page-text p6 {
  position: absolute;
  top: 925px;
  left: 758px;
  /* text-align: center; */
  font-size: 1.65rem;
  font-family: "San-francisco", sans-serif;
  text-decoration: none;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  color: #fff;
}

.grey-bar-3 {
  position: absolute;
  top: 1050px;
  left: 400px;
}

.home-page-text p7 {
  position: absolute;
  top: 1050px;
  left: 335px;
  /* text-align: center; */
  font-size: 1.65rem;
  font-family: "San-francisco", sans-serif;
  text-decoration: none;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  color: #fff;
}

/* About Us - Text */

.about-text-top {  
  top: 10px;
  position: relative;
  /* left: 41.5%; */
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  color: #fff;
}

.about-text-top p1 {  
  position: relative;
  font-size: 2rem;
  font-family: "San-francisco", sans-serif;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  color: #fff;
}

.about-text-top p2 {
  position: relative;
  display: inline-block;
  left: 0%;
  text-align: center;
  font-size: 1.25rem;
  font-family: "San-francisco", sans-serif;
  text-decoration: none;
  padding: 20px;
  margin: 0 auto;
  z-index: 1;
  color: #fff;
}

.about-text-bottom-1 {  
  bottom: -875px;
  position: relative;
  /* left: 41.5%; */
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  color: #fff;
}

.about-grey-bar-1 {
  position: relative;
  display: block;
  text-align: center;
}

.about-text-bottom-1 p1{
  position: relative;
  display: inline-block;
  left: 0%;
  text-align: center;
  font-size: 2rem;
  font-family: "San-francisco", sans-serif;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  color: #fff;
}

.about-text-bottom-1 p2 {
  position: relative;
  display: inline-block;
  left: 0%;
  text-align: center;
  font-size: 1.25rem;
  font-family: "San-francisco", sans-serif;
  text-decoration: none;
  padding: 20px;
  margin: 0 auto;
<<<<<<< HEAD
  z-index: 1;
  color: #fff;
}

/* ------------------------------------ */

.about-text-bottom-2 {  
  bottom: -850px;
  position: relative;
  /* left: 41.5%; */
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  color: #fff;
}

.about-grey-bar-2 {
  position: relative;
  display: block;
  text-align: center;
}

.about-text-bottom-2 p1{
  position: relative;
  display: inline-block;
  left: 0%;
  text-align: center;
  font-size: 2rem;
  font-family: "San-francisco", sans-serif;
  font-weight: bold;
  text-decoration: none;
=======
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
  z-index: 1;
  color: #fff;
}

<<<<<<< HEAD
=======
/* ------------------------------------ */

.about-text-bottom-2 {  
  bottom: -850px;
  position: relative;
  /* left: 41.5%; */
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  color: #fff;
}

.about-grey-bar-2 {
  position: relative;
  display: block;
  text-align: center;
}

.about-text-bottom-2 p1{
  position: relative;
  display: inline-block;
  left: 0%;
  text-align: center;
  font-size: 2rem;
  font-family: "San-francisco", sans-serif;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  color: #fff;
}

>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
.about-text-bottom-2 p2 {
  position: relative;
  display: inline-block;
  left: 0%;
  text-align: center;
  font-size: 1.25rem;
  font-family: "San-francisco", sans-serif;
  text-decoration: none;
  padding: 20px;
  margin: 0 auto;
  z-index: 1;
  color: #fff;
}

.about-footer {
  position: relative;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  z-index: 4;
  color: #a8a8a8;
}

/* About Us - Our Team */

.about-headshots {
  top: -425px;
  left: 100px;
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 20px;
  position: relative;
}

.about-headshots img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px cyan;
  border-radius: 30%;
}

.about-headshots:hover img {
  filter: blur(4px) brightness(50%);
  transition: 0.5s;
  box-shadow: 0 0 16px yellow;
}

.about-headshots :not(img) {
  position: absolute;
  top: 25%;
  z-index: 1;
  font-size: 1.15rem;
  font-family: "San-francisco", sans-serif;
  color: #fff;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}

.about-headshots:hover :not(img) {
  opacity: 1;
}

/* Products Page - Text */
.products-text-top {  
  top: 10px;
  position: relative;
  /* left: 41.5%; */
  text-align: center;
<<<<<<< HEAD
  padding: 20px;
=======
  padding: 80px;
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
  margin: 0 auto;
  color: #fff;
}

.products-text-top p1 {  
  position: relative;
<<<<<<< HEAD
  font-size: 2rem;
  font-family: "San-francisco", sans-serif;
  font-weight: bold;
=======
  font-size: 4rem;
  font-family: "San-francisco", sans-serif;
  font-weight:bold;
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
  text-decoration: none;
  z-index: 1;
  color: #fff;
}

/* Products Page - Products */
.products_software_center1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products_software {
  max-width: 90%;
  width: 1000px;
  display: block;
  /* margin: 20px; */
  position: relative;
}

.products_software_picture {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.products_software_text {
  position: relative;
  top: -425px;
  left: 35%;
  max-width: 400px;
  padding: 30px;
}

.products_software_text_header {
  text-align: left;
  display: block;
  font-size: 1.5em;
<<<<<<< HEAD
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
=======
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
  font-weight: bold;
  line-height: 50px;
  color: #fff;
}

.products_software_text_paragraph {
  text-align: left;
  display: block;
  font-size: 1.2em;
<<<<<<< HEAD
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 20px;
  color: #a8a8a8;
=======
  line-height: 30px;
  color: #cdcdcd;
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
}

/* ------------------------------------------------ */

.products_spacing_1 {
  padding: 30px;
  display: block;
  text-align: center;
}

.products_software_center2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products_software2 {
  top: -100px;
  max-width: 90%;
  width: 1000px;
  display: block;
  /* margin: 20px; */
  position: relative;
}

.products_software_picture2 {
  display: inline-block;
  margin-right: 10px;
  margin-left: 500px;
  vertical-align: middle;
}

.products_software_text2 {
  position: relative;
  top: -300px;
  right: 35%;
  max-width: 1000px;
  padding: 30px;
}

.products_software_text_header2 {
  text-align: right;
  margin-left: 500px;
  display: block;
  font-size: 1.5em;
<<<<<<< HEAD
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
=======
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
  font-weight: bold;
  line-height: 50px;
  color: #fff;
}

.products_software_text_paragraph2 {
  text-align: right;
  margin-left: 500px;
  display: block;
  font-size: 1.2em;
<<<<<<< HEAD
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 20px;
  color: #a8a8a8;
=======
  line-height: 30px;
  color: #cdcdcd;
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
}

/* ----------------------------------------------------- */

.products_spacing_2 {
  padding: 30px;
  display: block;
  text-align: center;
}

.products_software_center3 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.products_software3 {
  top: -175px;
  max-width: 90%;
  width: 1000px;
  display: block;
  /* margin: 20px; */
  position: relative;
}

.products_software_picture3 {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.products_software_text3 {
  position: relative;
  top: -425px;
  left: 35%;
  max-width: 400px;
  padding: 30px;
}

.products_software_text_header3 {
  text-align: left;
  display: block;
  font-size: 1.5em;
<<<<<<< HEAD
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
=======
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
  font-weight: bold;
  line-height: 50px;
  color: #fff;
}

.products_software_text_paragraph3 {
  text-align: left;
  display: block;
  font-size: 1.2em;
<<<<<<< HEAD
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 20px;
  color: #a8a8a8;

=======
  line-height: 30px;
  color: #cdcdcd;
}
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
.battery {
  /* background-color: white; */
  height: 30px;
  width: 60px;
}

div.buy {
  text-align: center;
}


div.buy {
  text-align: center;
}

<<<<<<< HEAD
=======

/* How it Works */
.hiw-1 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("697601.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 50%;
  top:0;
  left:0;
  width: 100%;
  height: 60vh;
  align-items: center;
  text-align: center;
  justify-content:center;
  display: flex;
  line-height: 1.5;
  z-index: 4;
}
.hiw-1 h1{
  text-align: center;
  font-size: 2em;
  color: White;
  display: block;

}
.hiw-2 { 
  text-align: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}
.hiw-2 h1,h2,p {
  color: black;
  padding: 10px;

<<<<<<< HEAD
}

.column {
  float: left;
  width: 33.33%; text-align: center;
  justify-content: center;
}
.column img {
  max-width: 20%;
  display: block;
  text-align: center;
  padding: 20px 20px;
}
.column p{
  font-weight:bold;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.row:after {
  content: "";
  display: table;
  width: 100%;
  height: auto;
  clear: both;
}
.roundy {
  background-color: white;
  width: 24rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.roundy .download-btn {
  padding: 5px 5px;
  margin: 20px 0px;
}
.download-1 {
  height: 25vh;
  justify-content: center;
  text-align: center;
}
.download-1 h1 {
  color: #fff;
  font-size: 4rem;
  padding: 10px 0px 10px 0px;
}
.download-1 p {
  color: #fff;
  font-size: 1.5rem;
  padding: 20px 0px;
}
>>>>>>> 45e12f50903c197980296ee34a30fd1f6ffc79a8
=======
}
>>>>>>> parent of 7a99bf6... uhh download page
