@font-face {
  font-family: "SF Pro Display";
  src: ("fonts/SF-Pro-Display-Black");
  font-weight: 400;
  letter-spacing: -0.022em;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
a,
span,
p,
h1,
h2,
h3,
li {
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

video {
  position: relative;
}

/* NavBar */
nav {
  height: 52px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: sticky;
  overflow: hidden;
  background: transparent;
  display: block;
  z-index: 9999;
<<<<<<< HEAD
=======
  border-bottom: 1px solid #303033;
>>>>>>> 4c0b78b3ced362c87dd2bda64e08cbd4dfa27a91
}

.nav-background {
  background-color: rgba(29, 29, 31, 0.9);
  display: block;
  line-height: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.link-container {
  max-width: 980px;
  height: auto;
  min-height: 100%;
  line-height: 25px;
  margin: 0 auto;
  padding: 0 22px;
  position: relative;
  float: none;
}

.nav-right {
  float: right;
  text-align: center;
  padding-top: 14px;
}

.nav-left {
  float: left;
  text-align: center;
  padding-top: 14px;
}

.nav-left a {
  color: white;
  font-size: 21px;
  text-decoration: none;
  line-height: 24px;
  text-align: center;
  display: inline-block;
}

.nav-container {
  text-align: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  display: inline-block;
  line-height: 12px;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  float: left;
}

.nav-ul span {
  color: white;
  opacity: 0.6;
  margin-left: 24px;
}

.nav-ul a:hover {
  color: #bccc0c;
}

.nav-ul li {
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.nav-ul li a {
  margin-left: 24px;
  display: inline-block;
}
.download-btn {
  margin-left: 24px;
  padding: 0;
  display: inline-block;
}

.download-btn a {
  background-color: #00a352;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 4px 11px;
  text-decoration: none;
  border-radius: 12px;
  line-height: 16px;
  margin-top: -1px;
}

.download-btn a:hover {
  background-color: #00b058;
}

.battery {
  line-height: 25px;
  height: 25px;
  text-align: center;
  padding-right: 24px;
  display: inline-block;
}
.battery img {
  height: 100%;
  display: inline-block;
}
.fancy {
  text-align: center;

  padding: 1em;

  border: 0.5em solid black;

  width: 6em;
  height: 6em;

  border-radius: 100%;

  font-family: cursive;
}

/* Content */
.content {
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  top: 1130px;
  left: 640px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  z-index: 4;
  color: #a8a8a8;
}

.section {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  display: block;
}

.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  min-height: 99%;
=======
  min-height: 100%;
>>>>>>> 4c0b78b3ced362c87dd2bda64e08cbd4dfa27a91
  text-align: center;
  display: block;
  align-items: center;
  top: 4%;
  z-index: 4;
}
.s1-top-text {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  z-index: 4;
  color: #a8a8a8;
}

.s1-center-text {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  text-decoration: none;
  z-index: 4;
  color: #fff;
}

.s1-bottom-text {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  z-index: 4;
  color: #a8a8a8;
}
.s2-text-block {
  position: relative;
  display: block;
  text-align: center;
  top: -250px;
}
.s2-text-block-l {
  position: relative;
  display: block;
  text-align: center;
  width: 50%;
  float: left;
  top: -300px;
}

.s2-text-block-r {
  position: relative;
  display: block;
  text-align: center;
  width: 50%;
  float: right;
  top: -300px;
}
.s2-text {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  z-index: 4;
  color: #fff;
}

.video-container {
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  padding-top: 5%;
}

/* Home Page - Text */
.grey-bar-1 {
  position: absolute;
  top: 925px;
  left: 400px;
}

.grey-bar-2 {
  position: absolute;
  top: 925px;
  left: 800px;
}

.home-page-text p6 {
  position: absolute;
  top: 925px;
  left: 758px;
  /* text-align: center; */
  font-size: 1.65rem;
  font-family: "San-francisco", sans-serif;
  text-decoration: none;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  color: #fff;
}

.grey-bar-3 {
  position: absolute;
  top: 1050px;
  left: 400px;
}

.home-page-text p7 {
  position: absolute;
  top: 1050px;
  left: 335px;
  /* text-align: center; */
  font-size: 1.65rem;
  font-family: "San-francisco", sans-serif;
  text-decoration: none;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  color: #fff;
}

/* About Us - Text */

/* ul.a {
  list-style-type: square;
  margin: 0;
  padding: 2;
  color: #121217;
} */

<<<<<<< HEAD
.about-text p1 {
=======
.about-text {
>>>>>>> 4c0b78b3ced362c87dd2bda64e08cbd4dfa27a91
  top: 75px;
  position: absolute;
  left: 630.3px;
  /* text-align: center; */
  font-size: 2rem;
  font-family: "San-francisco", sans-serif;
  text-decoration: none;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  color: #fff;
}

/* About Us - Our Team */

.about-headshots {
  top: 150px;
  left: 100px;
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 20px;
  position: relative;
}

.about-headshots img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px cyan;
  border-radius: 30%;
<<<<<<< HEAD
}

.about-headshots:hover img {
  filter: blur(4px) brightness(50%);
  transition: 0.5s;
  box-shadow: 0 0 16px yellow;
}

=======
}

.about-headshots:hover img {
  filter: blur(4px) brightness(50%);
  transition: 0.5s;
  box-shadow: 0 0 16px yellow;
}

>>>>>>> 4c0b78b3ced362c87dd2bda64e08cbd4dfa27a91
.about-headshots :not(img) {
  position: absolute;
  top: 25%;
  z-index: 1;
  font-size: 1.15rem;
  font-family: "San-francisco", sans-serif;
  color: #fff;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}

.about-headshots:hover :not(img) {
  opacity: 1;
}

/* div.member_box{
  text-align: center;
  border: 2px solid #00A352;
  background-color: rgba(41, 151, 255, 0.7);
  width: 30%;
  height: 10%;
}

img.headshots {
  border-radius:50%;
  background-color: #2997FF;
  border:3px solid #00a352;    
  height:80%;
  width:80%;
} */

<<<<<<< HEAD
.battery {
  /* background-color: white; */
  height: 30px;
  width: 60px;
=======
div.buy {
>>>>>>> 4c0b78b3ced362c87dd2bda64e08cbd4dfa27a91
  text-align: center;
}
<<<<<<< HEAD

div.buy {
  text-align: center;
}
=======
>>>>>>> 4c0b78b3ced362c87dd2bda64e08cbd4dfa27a91
